<a href="https://colab.research.google.com/github/choimin1243/AI_artifical/blob/master/%EC%9D%B8%EA%B3%B5%EC%A7%80%EB%8A%A5%EC%97%B0%EC%88%98(%EB%B6%93%EA%BD%83%20%EB%8D%B0%EC%9D%B4%ED%84%B0).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
# 필요한 라이브러리 import
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

import pandas as pd  

import numpy as np

# 꽃잎 데이터 갖고오기 
iris= datasets.load_iris()

# 입력 변수를 사용하기 편하게 pandas dataframe으로 변환
x = pd.DataFrame(iris.data, columns=iris.feature_names)
# 꽃잎 입력 데이터 설정
y = pd.DataFrame(iris.target, columns=['result'])

#꽃잎 결과 데이터 설정 

x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=5)
#데이터 입력데이터 실험 데이터 나누기 


model=LinearRegression()
model.fit(x_train,y_train)
#학습하기및 GradientDescent과정 

y_test_predict=model.predict(x_test)

error_sum = mean_squared_error(y_test, y_test_predict)

In [21]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [22]:
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [38]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [39]:
target_list = list(set(iris.target))

In [40]:
target_list

#라벨값 출력

[0, 1, 2]

In [37]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [48]:
A=np.around(model.predict([[5,2,1,3]]))
A=int(A)
# 입력 변수를 넣어주기 [5,2,1,3]은 꽃잎 넓이 길이 등의 수치를 의미 (파란색 글씨에 수치를 넣어주세요)

In [49]:
print(A)

2

In [50]:
iris.target_names[A]

'virginica'